municipios

In [6]:
import pandas as pd

provincias = pd.read_csv(r"C:\Users\nicke\Labo1\provincias.csv", sep = ';')
municipios = pd.read_excel(r"C:\Users\nicke\Labo1\municipios.xlsx")

In [14]:
# Realizar el cruce de datos para asignar el id_provincia
municipios_actualizado = municipios.merge(
    provincias,
    left_on='Provincia',  # Columna en municipios para la relación
    right_on='nombre',    # Columna en provincias para la relación
    how='left'            # 'left' mantiene todas las filas de municipios
)

# Renombrar o reorganizar columnas según sea necesario
municipios_actualizado = municipios_actualizado.drop(columns=['nombre'])
municipios_actualizado.rename(columns={'id_provincia': 'ID_Provincia'}, inplace=True)

municipios_actualizado.rename(columns ={'id_provincia_y' : 'id_provincia'}, inplace = True)
municipios_actualizado.drop(columns = 'id_provincia_x', inplace = True)
# Guardar el resultado si es necesario
municipios_actualizado.to_excel(r"C:\Users\nicke\Labo1\municipios_actualizado.xlsx", index=False)

In [15]:
municipios_actualizado

       Provincia          Municipio  id_provincia
0       ALBACETE          ABENGIBRE             1
1       ALBACETE             ALATOZ             1
2       ALBACETE           ALBACETE             1
3       ALBACETE           ALCADOZO             1
4       ALBACETE   ALCALÁ DEL JÚCAR             1
...          ...                ...           ...
3416    ZARAGOZA              ZUERA            52
3417     BIZKAIA           ONDARROA            10
3418  CORUÑA (A)           FISTERRA            19
3419    GIPUZKOA            GETARIA            21
3420      GIRONA  SELVA DE MAR (LA)            22

[3421 rows x 3 columns]

localidades

In [16]:
localidades = pd.read_excel(r"C:\Users\nicke\Labo1\localidades.xlsx")
municipios = pd.read_excel (r"C:\Users\nicke\Labo1\municipios_actualizado.xlsx")

In [28]:
# Realizar el cruce para asignar id_municipio
localidades_actualizado = localidades.merge(
    municipios,
    left_on='Municipio',  # Columna en localidades para el cruce
    right_on='nombre', # Columna en municipios para el cruce
    how='left'            # 'left' mantiene todas las filas de localidades
)

# Mantener solo las columnas necesarias
localidades_actualizado = localidades_actualizado.drop(columns=['id_provincia', 'nombre'])


# Guardar el resultado
localidades_actualizado.to_excel(r"C:\Users\nicke\Labo1\localidades_actualizado.xlsx", index=False)

combustibles

In [31]:
import pandas as pd

# Lista de nombres y asignación de id_combustible
combustibles = [
    "Precio gasolina 95 E5",
    "Precio gasolina 95 E10",
    "Precio gasolina 95 E5 Premium",
    "Precio gasolina 98 E5",
    "Precio gasolina 98 E10",
    "Precio gasóleo A",
    "Precio gasóleo Premium",
    "Precio gasóleo B",
    "Precio gasóleo C",
    "Precio bioetanol",
    "Precio biodiésel",
    "Precio gases licuados del petróleo",
    "Precio gas natural comprimido",
    "Precio gas natural licuado",
    "Precio hidrógeno"
]

# Crear un DataFrame con IDs automáticos
combustibles_df = pd.DataFrame({
    'Nombre': combustibles,
    'ID_Combustible': range(1, len(combustibles) + 1)
})

# Guardar el resultado
combustibles_df.to_excel(r"C:\Users\nicke\Labo1\combustibles_actualizado.xlsx", index=False)

estaciones

In [ ]:
estaciones = pd.read_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx")
localidades = pd.read_excel(r"C:\Users\nicke\Labo1\localidades_actualizado.xlsx")

# Realizar el merge para asignar id_localidad
estaciones_actualizado = estaciones.merge(
    localidades,
    left_on='localidades',  # Columna en estaciones para el cruce
    right_on='nombre',      # Columna en localidades para el cruce
    how='left'              # 'left' mantiene todas las filas de estaciones
)

# Mantener solo las columnas necesarias
estaciones_actualizado = estaciones_actualizado.drop(columns=['nombre', 'id_municipio'])
estaciones_actualizado.rename(columns={'ID_Localidad': 'id_localidad'}, inplace=True)

# Guardar el resultado
estaciones_actualizado.to_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx", index=False)

In [49]:
estaciones_actualizado

,Código postal,Dirección,Margen,Longitud,Latitud,Tipo,Rótulo,Tipo venta,Rem.,id_estacion,localidades,id_localidad
0,3590,"PUERTO DEPORTIVO LUIS CAMPOMANES, S/N - PARTID...",A,"-0,003833","38,629556",maritima,SIN ROTULO,Suministro a barcos deportivos o de recreo,dm,1,ALTEA,76
1,3710,EXPLANADA DEL PUERTO PESQUERO S/N,A,"0,069162","38,637313",maritima,COFRADIA DE PESCADORES DE CALPE,Mixto,dm,2,CALPE,91
2,3700,PUERTO PESQUERO DE DENIA S/N,A,"0,113056","38,843611",maritima,NO HAY,Suministro a pesqueros,dm,3,DENIA,99
3,3700,DARSENA DE BABOR S/N PUERTO DE DENIA,A,"0,119139","38,567556",maritima,MARINA DE DENIA S.A,Suministro a barcos deportivos o de recreo,dm,4,DENIA,99
4,3140,AVDA. DEL PUERTO.219,A,"-0,646278","38,109000",maritima,MARINA DE LAS DUNAS (REPSOL),Mixto,dm,5,GUARDAMAR DEL SEGURA,112
...,...,...,...,...,...,...,...,...,...,...,...,...
12212,50197,"RONDA RONDA DE LA FERIA DE MUESTRAS, 10",D,"-0,987833","41,638361",terrestre,MOLGAS,P,dm,12021,ZARAGOZA,4285
12213,50197,"RONDA FERIA DE MUESTRAS, DE LA, 20",D,"-0,986389","41,637944",terrestre,IDS,P,OM,12022,ZARAGOZA,4285
12214,50800,"CALLE AUSTRIA, 11,17",D,"-0,782833","41,883583",terrestre,AN ENERGETICOS - ZUERA,P,dm,12023,ZUERA,4293
12215,50800,"CARRETERA N-330A KM. 24,000",D,"-0,794000","41,857000",terrestre,REPSOL,P,OM,12024,ZUERA,4293
12216,50810,"CALLE COOPERATIVA, 2",D,"-0,757611","41,938750",terrestre,COOPERATIVA SAN ISIDRO,P,dm,12025,ONTINAR DE SALZ,4294

precios

In [50]:
# Archivo de estaciones actualizado con 'id_estacion', 'latitud' y 'longitud'
estaciones_file = pd.read_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx")

# Archivo original de precios con 'latitud' y 'longitud' añadidos
precios=pd.read_excel(r"C:\Users\nicke\Labo1\precios.xlsx")

In [52]:
precios.columns

Index(['Precio gasolina 95 E5', 'Precio gasolina 95 E10',
       'Precio gasolina 95 E5 Premium', 'Precio gasolina 98 E5',
       'Precio gasolina 98 E10', 'Precio gasóleo A', 'Precio gasóleo Premium',
       'Precio gasóleo B', 'Precio gasóleo C', 'Precio bioetanol',
       'Precio biodiésel', 'Precio gases licuados del petróleo',
       'Precio gas natural comprimido', 'Precio gas natural licuado',
       'Precio hidrógeno', 'Precio gasóleo de uso marítimo', 'Toma de datos',
       'Longitud', 'Latitud'],
      dtype='object')

In [60]:
import pandas as pd

# Archivo de estaciones actualizado con 'id_estacion', 'latitud' y 'longitud'
estaciones_file = pd.read_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx")

# Archivo original de precios con 'latitud' y 'longitud' añadidos
precios = pd.read_excel(r"C:\Users\nicke\Labo1\precios.xlsx")

# Asegurarse de que el id_estacion sea entero
estaciones['id_estacion'] = estaciones['id_estacion'].astype(int)

# Realizar un merge para añadir el 'id_estacion' al archivo de precios
precios_merged = precios.merge(
    estaciones[['id_estacion', 'Latitud', 'Longitud']],
    on=['Latitud', 'Longitud'],
    how='left'
)

# Diccionario de combustibles y sus IDs
combustibles = {
    "Precio gasolina 95 E5": 1,
    "Precio gasolina 95 E10": 2,
    "Precio gasolina 95 E5 Premium": 3,
    "Precio gasolina 98 E5": 4,
    "Precio gasolina 98 E10": 5,
    "Precio gasóleo A": 6,
    "Precio gasóleo Premium": 7,
    "Precio gasóleo B": 8,
    "Precio gasóleo C": 9,
    "Precio bioetanol": 10,
    "Precio biodiésel": 11,
    "Precio gases licuados del petróleo": 12,
    "Precio gas natural comprimido": 13,
    "Precio gas natural licuado": 14,
    "Precio hidrógeno": 15,
    "Precio gasóleo de uso marítimo": 16
}

# Normalizar los datos de precios
precios_normalizados = []
for combustible, id_combustible in combustibles.items():
    temp = precios_merged[['id_estacion', 'Toma de datos', combustible]].copy()
    temp.rename(columns={combustible: 'precio', 'Toma de datos': 'fecha_toma_datos'}, inplace=True)
    temp['id_combustible'] = id_combustible
    precios_normalizados.append(temp)

# Concatenar todos los precios en un solo DataFrame
precios_normalizados = pd.concat(precios_normalizados)

# Reemplazar valores NaN en 'id_estacion' por 0
precios_normalizados['id_estacion'].fillna(0, inplace=True)

# Asegurarse de que el id_estacion sea entero en el DataFrame final
precios_normalizados['id_estacion'] = precios_normalizados['id_estacion'].astype(int)

# Reemplazar valores nulos en otros campos por 0
precios_normalizados.fillna(0, inplace=True)

# Guardar el resultado en un archivo Excel
precios_normalizados.to_excel(r"C:\Users\nicke\Labo1\precios_actualizado.xlsx", index=False)

print("Archivo generado: precios_actualizado.xlsx")

C:\Users\nicke\AppData\Local\Temp\ipykernel_3504\1442704164.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  precios_normalizados['id_estacion'].fillna(0, inplace=True)

Archivo generado: precios_actualizado.xlsx

In [61]:
precios_normalizados

       id_estacion     fecha_toma_datos    precio  id_combustible
0              132     20/11/2024 16:04     1,459               1
1              133     18/11/2024 09:52     1,699               1
2              134     23/11/2024 09:00     1,529               1
3              135     23/11/2024 00:00     1,549               1
4              136     22/11/2024 11:05         0               1
...            ...                  ...       ...             ...
12066          127  1999-11-22 00:00:00         0              16
12067          128  1999-11-22 00:00:00         0              16
12068          129  1999-11-22 00:00:00         0              16
12069          130  1999-11-22 00:00:00         0              16
12070          131  1999-11-22 00:00:00  1039,000              16

[193136 rows x 4 columns]

horarios

In [65]:
# Archivo de estaciones actualizado con 'id_estacion', 'latitud' y 'longitud'
estaciones = pd.read_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx")

# Archivo de horarios con 'latitud' y 'longitud'
horarios = pd.read_excel(r"C:\Users\nicke\Labo1\horarios.xlsx")

# Asegurarse de que el id_estacion sea entero
estaciones['id_estacion'] = estaciones['id_estacion'].astype(int)

# Realizar un merge para añadir el 'id_estacion' al archivo de horarios
horarios_merged = horarios.merge(
    estaciones[['id_estacion', 'Latitud', 'Longitud']],
    on=['Latitud', 'Longitud'],
    how='left'
)

# Reemplazar valores NaN en 'id_estacion' por 0
horarios_merged['id_estacion'].fillna(0, inplace=True)

# Asegurarse de que el id_estacion sea entero
horarios_merged['id_estacion'] = horarios_merged['id_estacion'].astype(int)

horarios_merged= horarios_merged.drop(columns = ['Longitud','Latitud'])
# Guardar el resultado en un archivo Excel
output_file = r"C:\Users\nicke\Labo1\horarios_actualizado.xlsx"
horarios_merged.to_excel(output_file, index=False)

print(f"Archivo generado: {output_file}")

C:\Users\nicke\AppData\Local\Temp\ipykernel_3504\1745315602.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  horarios_merged['id_estacion'].fillna(0, inplace=True)

Archivo generado: C:\Users\nicke\Labo1\horarios_actualizado.xlsx

In [66]:
horarios_merged

,Horario,Tipo servicio,id_estacion
0,L-D: 07:00-22:00,L-D: 07:00-22:00 (A),132
1,L-D: 7:00-23:00,L-D: 7:00-23:00 (A),133
2,L-S: 08:00-22:00; D: 09:00-21:00,L-S: 08:00-22:00 (A); D: 09:00-21:00 (A),134
3,L-D: 06:00-22:00,L-D: 06:00-22:00 (P),135
4,L-S: 05:00-23:00,L-S: 05:00-23:00 (A),136
...,...,...,...
12288,L-D: 08:00-20:00,L-D: 08:00-20:00,127
12289,L: 08:00-19:00,L: 08:00-19:00,128
12290,L-D: 07:00-21:00,L-D: 07:00-21:00,129
12291,L-D: 08:00-18:00,L-D: 08:00-18:00,130
12292,L-D: 24H,L-D: 24H,131

convertir todos los ficheros a csv

In [88]:
a = pd.read_excel(r"C:\Users\nicke\Labo1\horarios_actualizado.xlsx")
columns_a = ['id_horario','id_estacion','Horario','Tipo servicio']
a = a[columns_a]
a.to_csv(r"C:\Users\nicke\Labo1\csv\horarios_actualizado.csv", index = False)

b = pd.read_excel(r"C:\Users\nicke\Labo1\precios_actualizado.xlsx")
columns_b = ['id_precio','id_estacion','id_combustible','fecha_toma_datos','precio']
b = b[columns_b]
b['precio'] = b['precio'].str.replace(',', '.', regex=False)
b['fecha_toma_datos'] = pd.to_datetime(b['fecha_toma_datos'], format='%d/%m/%Y %H:%M').dt.date
b.to_csv(r"C:\Users\nicke\Labo1\csv\precios_actualizado.csv", index = False)

c=pd.read_excel(r"C:\Users\nicke\Labo1\estaciones_actualizado.xlsx")
columns_c = ['id_estacion','Dirección','Código postal','Latitud','Longitud','Tipo','Rótulo','Tipo venta','Rem.','Margen','id_localidad']
c = c[columns_c]
c['Latitud'] = c['Latitud'].str.replace(',', '.', regex=False)
c['Longitud'] = c['Longitud'].str.replace(',', '.', regex=False)
c['Latitud'] = c['Latitud'].fillna(0)
c['Longitud'] = c['Longitud'].fillna(0)

c = c.applymap(lambda x: str(x).replace(',', '') if isinstance(x, str) else x)


c.to_csv(r"C:\Users\nicke\Labo1\csv\estaciones_actualizado.csv", index = False)

d=pd.read_excel(r"C:\Users\nicke\Labo1\combustibles_actualizado.xlsx")
columns_d = ['id_combustible','nombre']
d = d[columns_d]
d.to_csv(r"C:\Users\nicke\Labo1\csv\combustibles_actualizado.csv", index = False)

e=pd.read_excel(r"C:\Users\nicke\Labo1\localidades_actualizado.xlsx")
columns_e = ['id_localidad','nombre','id_municipio']
e= e[columns_e]
e['nombre'] = e['nombre'].str.replace(',', '', regex=False)
e.to_csv(r"C:\Users\nicke\Labo1\csv\localidades_actualizado.csv", index = False)

f=pd.read_excel(r"C:\Users\nicke\Labo1\municipios_actualizado.xlsx")
f.to_csv(r"C:\Users\nicke\Labo1\csv\municipios_actualizado.csv", index = False)

g=pd.read_excel(r"C:\Users\nicke\Labo1\provincias_actualizado.xlsx")
g.to_csv(r"C:\Users\nicke\Labo1\csv\provincias_actualizado.csv", index = False)

C:\Users\nicke\AppData\Local\Temp\ipykernel_3504\1064861509.py:21: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  c = c.applymap(lambda x: str(x).replace(',', '') if isinstance(x, str) else x)

In [ ]:
a = pd.read_excel(r"C:\Users\nicke\Labo1\precios_actualizado.xlsx")

In [79]:
e.columns

Index(['id_localidad', 'nombre', 'id_municipio'], dtype='object')

In [86]:
c.to_clipboard(index=False)

In [91]:
# Cargar el archivo CSV
precios = pd.read_csv("C:\\Users\\nicke\\Labo1\\csv\\precios_actualizado.csv")

# Eliminar filas con valores nulos o incompletos
precios = precios.dropna()  # Elimina filas con celdas vacías
precios = precios[precios.columns[:5]]  # Asegura que solo haya 5 columnas

# Guardar el archivo limpio
precios.to_csv("C:\\Users\\nicke\\Labo1\\csv\\precios_actualizado.csv", index=False)